<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bib" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--NÚMERO DE DIAS RETROATIVOS-->
    <add key="DAYS" value="-1" />
    <!--NÚMERO DE DIAS RETROATIVOS-->
    <add key="PATH" value="Brutos" />
    <!--FREQUÊNCIA DO SERVIÇO EM MINUTOS-->
    <add key="FREQUENCY" value="60" />
  </appSettings>
</configuration>